{% load static %}


<div class="container  container-fluid">
        <a class="navbar-brand text-xs text-white hv1" href="/"><img src="{% static 'img/marca-de-ubicacion.png' %}" style="width: 40px;" alt=""></a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0  ">
                        <li class="nav-item ">
                                <a class="btn btn-danger px-4 m-2 " href="{% url 'index' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                                <a class=" btn btn-warning px-4 m-2" href="{% url 'login' %}">Iniciar Sesión</a>
                        </li>