{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'head.html' %}

<title>Cambiar Contraseña</title>
{% endblock %}

{% block content %}
{% if request.session.logueado.rol == "EST"  or request.session.logueado.rol == "PROF" or request.session.logueado.rol == "ADM" %}
<div class="container d-flex justify-content-center align-items-center mt-2" style="min-height: 80vh;">
    <div class="card p-4 shadow border-secondary" style="width: 80%">
        <h1 class="text-center">Cambio de Contraseña</h1>
        <form action="" method="post" class="col-6 m-auto">
            {% csrf_token %}
            <label class="text-primary border-secondary"> <img src="{% static 'img/key-fill.svg' %}" alt="" style="width: 25px;"> Contraseña anterior:</label>
            <input type="password" name="vieja" class="form-control border-secondary" /><br><br>
            <label><img src="{% static 'img/lock.svg' %}" alt="" class="py-2" style="width: 20px;"> Contraseña nueva:</label>
            <input type="password" name="nueva" class="form-control border-secondary" /><br>
            <label><img src="{% static 'img/lock.svg' %}" alt="" class="py-2" style="width: 20px;"> Repetir Contraseña:</label>
            <input type="password" name="nueva_repiti" class="form-control border-secondary" /><br>
            <div class="d-grid"><button type="submit" class="btn btn-success">Cambiar</button></div>    
        </form>
    </div>
</div>
{% else %}
{% include 'sesion.html' %}
{% endif %}
{% endblock %}

