{% extends 'base.html' %}
{% load static %}

{% block head %}
{% include 'head.html' %}

<title>Recuperar Contraseña</title>
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center mt-4" style="min-height: 80vh;">
    <div class="card p-4 shadow border-success" style="width: 100%; max-width: 400px;">
        <h3>Recuperar contraseña:</h3>
        <form action="" method="post">

            {% csrf_token %}
            <label>Ingresar su Correo:</label>
            <input type="email" name="correo" class="form-control mt-3" placeholder="ejemplo@gmail.com" required=""><br>
            <div class=" text-center">
                <button type="submit" class="btn btn-success ">Recuperar Contraseña</button><br>

            </div>
            <a href="{% url 'login' %}" class="text-center mt-3 d-block">Iniciar sesión</a>
        </form>
    </div>
</div>

{% endblock %}