{% extends 'base.html' %}

{% block content %}

<main class="py-5">
  <section class="bg-image">
      <div class="mask d-flex align-items-center h-100 gradient-custom-3 border-success">
          <div class="container h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                      <div class="card" style="border-radius: 15px;">
                          <div class="card-body">
                              <h2 class="text-uppercase text-center mb-4">{{ accion }} Blog</h2>

                              <form method="post">
                                  {% csrf_token %}
                                  {% for field in form %}
                                      <div class="form-outline mb-3">
                                          {{ field }}
                                          <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                          {% if field.errors %}
                                              <div class="text-danger small">{{ field.errors }}</div>
                                          {% endif %}
                                      </div>
                                  {% endfor %}

                                  <div class="d-flex justify-content-center">
                                      <button type="submit" class="btn btn-success btn-lg">
                                          {{ accion }}
                                      </button>
                                  </div>
                              </form>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
{% endblock %}